<%- include("header") -%>
<style>
    a{
        background-color: #393e46;
        color:#00adb5;
        padding:3px;
        border-radius: 8px;
        text-decoration: none;
        box-shadow: 5px 5px 15px -5px;
    }
</style>
    <div class="container">
        <div class="day">
            <h1><%= dayOfweek %></h1>
        </div>
    </div>
    <div class="container">
        <p>This site is Developed and maintained by Shivam Kumar Mishra. Go Back To <a  href="/">Home Page!</a></p>
    </div>
<%- include("footer") -%>